body {
  margin: 0;
  font-family: sans-serif;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: calc(100vh - 56px);

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-image: url(../img/hero-image.jpg);

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  color: white;

  font-size: 3em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;

  /* Padding and margins */
  padding: 10px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.hero h4 {
  color: white;
  font-size: 1.25em;
}

.scroll-down-button {
  position: absolute; 
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
  width: 30px;
  height: 30px;
  margin-top: 30px; 
  right: calc((100vw/2) - 15px)
}

.marketing-container {
  height: 100vh;
}

.marketing {
  background-color: slategray;
  height: 70vh;
  width: 70vw;
  position: absolute;
  right: calc((100vw/2) - 35vw);
  top: calc((300vh/2) - 35vh)
}

.scroll-down-image {
  height: 30px;
  width: 30px;
}
