@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --accent-color: rgb(158, 25, 191)
}

body {
    font-family: "Helvetica", sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 400;
}

.title {
    font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.links a {
    font-family: "Roboto Mono", sans-serif;
    font-optical-sizing: auto;
    color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.links {
    margin-top: 10px;
}

.links a {
    margin-right: 15px;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
}

.blog-post {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.blog-post:last-child {
    border-bottom: none;
}

.blog-post-meta {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

blockquote {
    margin: 20px 0;
    padding: 10px 20px;
    background: #f9f9f9;
    border-left: 3px solid #ddd;
    font-style: italic;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
}

thead {
    background-color: #f8f8f8;
}

th {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

td {
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
}

tr:last-child td {
    border-bottom: none;
}



tr:hover {
    background-color: #f0f0f0;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 0.8em;
    }

    th,
    td {
        padding: 8px;
    }
}