{% extends "notebook_base.html" %}
{% block content %}

<div class="blog-section">
    {% for page in section.pages %}
    {% if not page.draft %}
    <div class="blog-post">
        <h3>
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </h3>
        {% if page.description %}
        <div class="blog-post-description">
            {{ page.description }}
        </div>
        {% endif %}
        <div class="blog-post-date">
            {{ page.date | date(format="%B %d, %Y") }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}